.c-title {
  margin-inline-start: calc(50 / var(--base-width) * 100%);
}

.c-title__en {
  font-size: calc(50 * var(--rem-ratio));
  line-height: var(--leading-tight);
}

.c-title__jp {
  margin-block-start: -4px;
  font-family: var(--font-hiragino);
  font-weight: var(--font-light);
  color: var(--heading);
}

@media screen and (min-width: 768px) {
  .c-title__en {
    font-size: calc(74 * var(--rem-ratio));
  }

  .c-title__jp {
    margin-block-start: -9px;
    font-size: calc(19 * var(--rem-ratio));
  }
}
