/* 女性ページ */
.l-hero {
  background: url('../images/woman/webp/woman_hero_bg.webp') no-repeat center / cover;
}

.l-hero__profile::after {
  background-color: var(--woman-background-frame);
}

.l-hero__title-en {
  color: var(--woman-common);
}

.l-section-intro__box {
  background-color: var(--woman-background-base);
}

.l-section-intro__box-attention {
  color: var(--woman-dark-pink);
}

.l-section-service {
  background-color: var(--woman-background-base);
}

.l-services__list-textarea-heading {
  color: var(--woman-dark-pink);
}

.l-footer__banner {
  background: url('../images/woman/webp/woman_banner_bg.webp') no-repeat center / cover;
}

.l-footer__banner-en {
  color: var(--woman-common);
}

.l-footer__copyright {
  background-color: var(--woman-dark-pink);
}

.c-title__en {
  color: var(--woman-common);
}
